.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    > div {
        padding: 10px;
        
        @for $row from 1 through 2 {
          @for $col from 1 through 3 {
            $colorPattern: #ff7d4f;
            
            @if (($col + $row) % 2 == 0) {
              $colorPattern: #f0ffff;
            }
            
            &:nth-child(#{$col + ($row - 1) * 3}) {
              background-color: $colorPattern;
            }
          }
        }
      }
    }