.App {
  text-align: center;
}

.Increment {
  display: inline;
  padding: 35px;
  font-size: 4rem;

}

.Decrement {
  display: inline;
  padding: 35px;
  font-size: 4rem;

}

.Counter {
  font-size: 6rem;
  padding: 10px;
  margin-bottom: 0;
}